.footerParent {
    background-color: rgb(0, 0, 61);
}
.footerParent2 {
    background-color: rgb(1, 1, 34);
}
.footer1 {
    text-align: left;
    color: white;
}
.blog {
    display: flex;
    flex-direction: column;
}
.links {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
}
.links1 {
    color: white;
    text-decoration: none;
    padding: 10px 0;
}
.footer2 {
    color: white;
    padding: 1rem;
}
.v-link {
    text-decoration: none;
    color: white;
}
.iconsDiv {
    display: flex;
    flex-direction: row;
}
.iconsDiv h6{margin-right: 10px;}
.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 16px;
}

.blinking {
    text-align: center;
    border: 3px solid white;
    color: red;
    text-decoration: none;
    padding: 10px 0;
    animation: animate 
                1.5s linear infinite;
}
@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
/* for mobile */
@media screen and (max-width: 767px) {
    .whatsapp-icon {
        margin-top: 10px;
    }

    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}