.background2 {
    background-image: url('./../../Video&Images/gallery.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8);
    grid-gap: 15px;
    padding: 1rem;
    /* background-color: red; For browsers that do not support gradients */
    /* background-image: linear-gradient(to bottom right, rgb(0, 0, 61), navy); */
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 767px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8);
        grid-gap: 15px;
        padding: 1rem;
    }
}